* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.wrapper {
    background: url("./img/panorama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 10000px inset;
}

.title {
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 1s ease-in;
}

.text {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.button {
    cursor: pointer;
    width: 500px;
    margin: auto;
    background-color: hsl(0, 0%, 10%);
    color: white;
    background-image: linear-gradient(to right, #dc5404, #dc5404);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size .2s ease-in-out, color .3s;
    border: none;
    font-size: 1.5em;
    padding: 0;
    margin: 1em;
}

.button:hover {
    background-size: 100% 100%;
}

.animateText {
    opacity: 1;
}

.navBtn {
    position: fixed;
    display: none;
}

.navbar {
    transform: translateX(-100%);
    display: none;
}

.overlay {
    display: none;
}

@media (max-width: 768px) {
    .navBtn {
        display: block;
        color: #dc5404;
        height: 50px;
        top: 0;
        left: 0;
        padding: 1em;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        justify-content: center;
        color: white;
        position: fixed;
        left: 0;
        background-color: rgb(52, 62, 67, 1);
        height: 100vh;
        z-index: 999;
        width: 200px;
        transition: transform .2s;
    }

    .navList {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
    }

    .navList li {
        list-style: none;
        font-size: 1.3rem;
        transition: color .2s;
    }

    .navList li:hover {
        color: #dc5404;
    }

    .btn {
        border-radius: 15px;
        transition: background-color .2s, color .2s;
        border: none;
        margin-bottom: .5em;
        font-weight: bold;
    }

    .btn:hover {
        background-color: #dc5404;
        color: white;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .openSidebar {
        transform: translateX(0);
    }

    .setOverlay {
        display: block;
    }
}