.container {
    width: 50%;
    background-color: rgb(128, 128, 128, 0.5);
    padding: 2em;
    border: 1px solid white;
    opacity: 0;
    transition: 1s ease-in;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: auto;
}

.inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

.menu input, select, button {
    height: 50px;
    font-size: 1rem;
    padding: .5em;
    width: 100%;
    outline: none;
}

.menu input::placeholder {
    color: black;
}

.menu button {
    cursor: pointer;
    width: 45%;
    margin: auto;
    background-color: hsl(0, 0%, 10%);
    color: white;
    background-image: linear-gradient(to right, #dc5404, #dc5404);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size .2s ease-in-out, color .3s;
    border: none;
    font-size: 1.5em;
    padding: 0;
}

.menu button:hover {
    background-size: 100% 100%;
    color: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.animateContainer {
    opacity: 1;
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}