.wrapper {
    background-color: #f8f4fc;
}

.wrapper h1 {
    text-align: center;
    padding: 1em;
    color: #dc5404;
}

.flexDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-bottom: 3em;
}

.card {
    width: 50%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.6));
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    transition: opacity .8s;
}

.houseName {
    font-size: 2rem;
}

.card p {
    font-size: 1.3rem;
    color: white;
    padding: 1em;
    text-align: center;
}

.card img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.card .info {
    display: flex;
    justify-content: space-around;
}

.cardBtn {
    cursor: pointer;
    width: 35%;
    background-color: white;
    color: black;
    background-image: linear-gradient(to right, #dc5404, #dc5404);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size .2s ease-in-out, color .3s;
    border: none;
    font-size: 1.5em;
    height: auto;
    border-radius: 15px;
}

.cardBtn:hover {
    background-size: 100% 100%;
    color: white;
}

.prev {
    font-size: 5rem;
    cursor: pointer;
    color: black;
}

.next {
    font-size: 5rem;
    cursor: pointer;
    color: black;
}

.animation {
    opacity: 0;
}

.active {
    opacity: 1;
}